/**
*@title app css
*@date 21-08-02
*@author 홍수희
*@desc 모든 js 파일의 css
*@etc(change)
*/
body{margin:0; font-family: 'Nanum Barun Gothic', sans-serif}
/*=======Header.js=======*/
.header-wrap {width: 100%; height: 140px; position: fixed;display: flex; flex-direction: column; box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(225,225,225,0.3); background-color: #fff;}

.header-top {width:1100px; font-size:12px; color:#666; margin:0 auto;}
.header-top ul {list-style: none; display: flex; justify-content: flex-end;}
.header-top li {padding:3px 12px; border-right:1px solid #eeeeee;}
.header-top a {text-decoration: none; color:#666;}

.header-menu {width:1100px;margin:0 auto; display: flex;}
.header-menu .header-logo {padding:0 12px;}
.header-menu .logo-img {width: 182px; height: 73px;}
.header-menu ul {flex:1 1 0; list-style: none; display: flex; justify-content: space-evenly; }
.header-menu li {font-size:1.5rem; font-weight: 400; color:#393536; padding-top:5px;}
.header-menu a {text-decoration: none; color:#393536;}

/*=======Main.js=======*/
.main-wrap {width: 100%; background-color: #fff; padding-top:171px; height: 100%;}

.main-current {display: flex; flex-direction: column; width: 1100px; margin:0 auto; }
.main-current span {padding-bottom: 12px; margin-top:8px; font-size:24px; font-weight: bold; text-align: center; /* border-bottom:1px solid #ddd;*/}
.main-current .cont-ul {list-style: none; display: flex; text-align: center; font-size: 20px; font-weight: 600; color:#393536; padding:0; margin:13px auto;}
.main-current .cont-ul li {padding:15px 70px;}
.main-current .cont-ul li img {width: 128px; height: 128px;}
.main-current .cont-ul li p {text-decoration: none; color:#393536; margin:0;}

.main-rental {background-color: rgba(57,53,54,0.1); margin-bottom: 200px;}

/*======ObjectListContainer.js======*/
.container-wrap {padding-top:12px; /*border-top:1px solid #ddd;*/}
.container-inner {display: flex; margin-bottom: 12px;}
.container-inner .tit-txt {border-right:1px solid #ddd; padding: 10px 44px; margin:10px 0;}
.container-inner p {font-size:26px; font-weight: 600; border-top:2px solid #66c430;}
.container-inner ul {list-style: none; font-size:20px; font-weight: 400;}
.container-inner li {padding-left: 12px; font-size:18px;}

/*======RentalListContainer.js======*/
.rental .container-inner {width: 1100px; margin:0 auto;}
.rental .container-inner p {border-color:#2f67b6;}
.rental .item {width:81%; height: 300px; overflow-y: auto;}

/*======Footer.js======*/
.footer-wrap {background-color: #424242; padding-top:25px; padding-bottom:200px;}
.footer-width {width: 1100px; margin:0 auto; color:white}