/**
*@title app css
*@date 21-08-02
*@author 홍수희
*@desc 모든 js 파일의 css
*@etc(change)
*/
body{margin:0; font-family: 'Nanum Barun Gothic', sans-serif}
body p {cursor:default;}
/*=======Header.js=======*/
.header-wrap {z-index:9999; width: 100%; height: 140px; position: fixed;display: flex; flex-direction: column; box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(225,225,225,0.3); background-color: #fff;}

.header-top {width:1100px; font-size:12px; color:#666; margin:0 auto;}
.header-top ul {list-style: none; display: flex; justify-content: flex-end;}
.header-top li {padding:3px 12px; border-right:1px solid #eeeeee;}
.header-top a {text-decoration: none; color:#666;}

.header-menu {width:1100px;margin:0 auto; display: flex;}
.header-menu .header-logo {padding:0 12px;}
.header-menu .logo-img {width: 182px; height: 73px;}
.header-menu ul {flex:1 1 0; list-style: none; display: flex; justify-content: space-evenly; }
.header-menu li {font-size:1.5rem; font-weight: 400; color:#393536; padding-top:5px;}
.header-menu a {text-decoration: none; color:#393536;}
/*======Login======*/
.login-wrap {padding-top:222px; min-height: 800px;}
.login-width {width:1100px; margin:32px auto;}
.login-inner {width: 400px; padding:28px; margin:0 auto; border:1px solid #ddd; border-radius: 8px;}
.login-input {display: flex; align-items: center;}
.login-input p {flex:1 1 0; font-size: 20px; padding:0 16px; font-weight: 600;}
.login-input input {flex:2 1 0; margin-right: 17px; font-size: 20px;}
.login-btn {text-align: center; margin-top: 16px;}
.login-btn button {width: 458px; border:none; border-radius: 12px; padding:20px 0; font-size: 18px; font-weight: bold; background-color: #393536; color:#fff;}

/*===========Main===========*/
/*-Main-*/
.main-wrap {width: 100%; background-color: #fff; padding-top:171px; height: 100%;}

.main-current {display: flex; flex-direction: column; width: 1100px; margin:0 auto; }
.main-current span {padding-bottom: 12px; margin-top:8px; font-size:24px; font-weight: bold; text-align: center; /* border-bottom:1px solid #ddd;*/}
.main-current .cont-ul {list-style: none; display: flex; text-align: center; font-size: 20px; font-weight: 600; color:#393536; padding:0; margin:13px auto;}
.main-current .cont-ul li {padding:15px 70px;}
.main-current .cont-ul li:active,.main-current .cont-ul li:hover{border:1px solid #ddd ;box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.1);}
.main-current .cont-ul li img {width: 128px; height: 128px;}
.main-current .cont-ul li p {text-decoration: none; color:#393536; margin:0;}

.current-cont {padding-top:12px;}
.current-inner {display: flex; margin-bottom: 12px;}
.current-inner .tit-txt {border-right:1px solid #ddd; padding: 10px 44px; margin:10px 0; min-width: 134px;}
.current-inner .tit-txt::before{ content:''; position: absolute; width: 46px; height: 2px; background-color: #66c430}
.current-inner p {font-size:26px; font-weight: 600;}
.current-inner ul {list-style: none; font-size:20px; font-weight: 400;}
.current-inner li {padding-left: 12px; font-size:18px;}
.current-inner .item {width: 100%;}
.current-inner .item ul {display: flex; flex-direction: column;}
.current-inner .item li {width:100%;}
.current-inner .item li p{ float:left; font-size:18px; font-weight: normal; margin:6px 0;}
.current-inner .item li p:nth-child(2){float:right;}

.main-rental {background-color: rgba(57,53,54,0.1); margin-bottom: 200px;}

/*======Container======*/
/*-SideBarContainer-*/
.sidebar .inner {border-top:1px solid; border-bottom:1px solid; border-color:#ddd; width: 180px; margin:0 13px;}
.sidebar ul {list-style: none; padding:0;}
.sidebar .office-ul li:hover {background-color: rgba(102,196,48,0.3);}
.sidebar li p {color:#393536; text-align: center; font-size:20px; line-height: 40px; height: 40px; font-weight: 600; cursor:Pointer; margin:0; padding:12px;}
.sidebar .office-ul li p:active {color:white;}
.sidebar .add-btn {margin-top:8px;}
.sidebar .add-btn p{ text-align: center; color:#393536;}

/*-ContentContainer.js-*/
.container {width: 100%; padding:0 20px;}
.container-tit {display: flex; align-items: flex-end; border-bottom:1px solid #ddd; padding-bottom:6px;}
.container-tit p {margin:0;}
.container-tit .tit-txt {font-size: 28px; font-weight: bold; margin: 0 6px;}
.container-tit .cont-cnt {flex:1 1 0; display: flex; padding-left: 8px;}
.container-tit .cont-cnt p {padding:0 3px;}
.container-tit .add-btn {display: flex;}
.container-tit .add-btn p {padding:3px; margin:0 2px;}

.container-cont {display: flex; flex-direction: column; max-height: 900px; overflow-y: auto; padding:0; margin-bottom:30px;}
.container-cont .cont-head {border-bottom:1px solid #ddd;}
.container-cont .cont-head li:nth-child(1) {line-height: 1px;}
.container-cont .head-ul {margin:6px 0;}
.container-cont ul {list-style: none; display: flex; flex-direction: row; padding:0;}
.container-cont li {flex:1 1 0; font-size:18px; text-align: center; font-weight: 600;}
.container-cont .body-ul li {font-weight: normal;}

/*======Rental======*/
/*-RentalListContainer.js-*/
.rental .current-inner .tit-txt::before {background-color: #2f67b6}
.rental .current-inner {width: 1100px; margin:0 auto;}
.rental .current-inner p {border-color:#2f67b6;}
.rental .item {height: 300px; overflow-y: auto; overflow-x:hidden;}

/*-RentalMain.js-*/
.rental-wrap {min-height: 900px; max-height: 1100px; padding-top:141px;}
.rental-tit {height: 65px; margin-bottom:32px; background-color: rgba(57,53,54,0.3);}
.rental-tit p {font-size:30px; font-weight: 500; text-align: center; line-height: 67px; margin:0 ; color:#393536; border-bottom:1px solid rgba(57,53,54,0.3);}

.rental-width {display: flex; width: 1600px; margin:0 auto;}

/*====== Office =======*/
.office-wrap {min-height: 900px; max-height: 1100px; padding-top:141px;}
.office-tit {height: 65px; margin-bottom:32px; background-color: rgba(102,196,48,0.3);}
.office-tit p {font-size:30px; font-weight: 500; text-align: center; line-height: 67px; margin:0; color:#393536; border-bottom:1px solid rgba(102,196,48,0.3);}
.office-width {display: flex; width: 1600px; margin:0 auto;}

/*====== Server ======*/
.server-wrap {min-height: 900px; max-height: 1100px; padding-top:141px;}
.server-tit {height: 65px; margin-bottom:32px; background-color: rgba(47,103,182,0.3);}
.server-tit p {font-size:30px; font-weight: 500; text-align: center; line-height: 67px; margin:0; color:#393536; border-bottom:1px solid rgba(47,103,182,0.3);}
.server-width {display: flex; width: 1600px; margin:0 auto;}

.sidebar .server-ul li:hover {background-color: rgba(47,103,182,0.3);}
.sidebar .server-ul li p:active {color:white;}

/*======LabMain.js======*/
.Lab-wrap {min-height: 900px; max-height: 1100px; padding-top:141px;}
.Lab-tit {height: 65px; margin-bottom:32px; background-color: rgba(238,30,73,0.3);}
.Lab-tit p {font-size:30px; font-weight: 500; text-align: center; line-height: 67px; margin:0; color:#393536; border-bottom:1px solid rgba(238,30,73,0.3);}

.Lab-width {display: flex; width: 1600px; margin:0 auto;}


/*======Footer.js======*/
.footer-wrap {background-color: #424242; padding-top:25px; padding-bottom:200px;}
.footer-width {width: 1100px; margin:0 auto; color:white}