/**
*@title app css
*@date 21-08-02
*@author 홍수희
*@desc 모든 js 파일의 css
*@etc(change)
*/
body{margin:0; font-family: 'Nanum Barun Gothic', sans-serif}
body p {cursor:default;}
/*=======Header.js=======*/
.chg .header-wrap{ display: none;}

.header-wrap {z-index:9999; width: 100%; min-height: 140px; position: fixed;display: flex; flex-direction: column; box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(225,225,225,0.3); background-color: #fff;}

.header-top {width:1100px; font-size:12px; color:#666; margin:0 auto;}
.header-top ul {list-style: none; display: flex; justify-content: flex-end;}
.header-top li {padding:3px 12px; border-right:1px solid #eeeeee;}
.header-top a {text-decoration: none; color:#666;}

.header-menu {width:1100px;margin:0 auto; display: flex;}
.header-menu .header-logo {padding:0 12px;}
.header-menu .logo-img {width: 182px; height: 73px;}
.header-menu ul {flex:1 1 0; list-style: none; display: flex; justify-content: space-evenly; }
.header-menu li {font-size:1.5rem; font-weight: 400; color:#393536; padding-top:5px;}
.header-menu li:hover{font-size: 1.6rem; font-weight: bold;}
.header-menu a {text-decoration: none; color:#393536;}
.header-menu ul > li:hover > .hide-ul {display: flex; flex-direction: column; padding-left: 0; margin-top: 20px; background-color: #ffffff}
.header-menu .hide-ul {display: none; }
.header-menu .hide-ul li {font-size: 1.2rem;}
.header-menu .hide-ul li:hover { border-bottom:1px solid #ee1e49}

/*======Login======*/
.login-wrap {padding-top:222px; min-height: 800px;}
.login-width {width:1100px; margin:32px auto;}
.login-inner {width: 400px; padding:28px; margin:0 auto; border:1px solid #ddd; border-radius: 8px;}
.login-input {display: flex; align-items: center;}
.login-input p {flex:1 1 0; font-size: 20px; padding:0 16px; font-weight: 600;}
.login-input input {flex:2 1 0; margin-right: 17px; font-size: 20px;}
.login-btn {text-align: center; margin-top: 16px;}
.login-btn button {width: 390px; border:none; border-radius: 12px; padding:20px 0; font-size: 18px; font-weight: bold; background-color: #393536; color:#fff;}
.login-btn button:active {background-color: #66c430}
.login-etc-btn {display: flex; justify-content: space-between}
/*.login-etc-btn .p {flex: 1 1 0;}*/

/*====== Admin ======*/
.admin-wrap {padding-top:222px; min-height: 800px;}
.admin-width {width: 1100px; margin:10px auto;}
.admin-width .logout:active, .logout:hover {color:#ee1e49}

/*===========Main===========*/
/*-Main-*/
.main-wrap {width: 100%; background-color: #fff; padding-top:171px; height: 100%;}

.main-current {display: flex; flex-direction: column; width: 1100px; margin:0 auto; }
.main-current span {padding-bottom: 12px; margin-top:8px; font-size:24px; font-weight: bold; text-align: center; /* border-bottom:1px solid #ddd;*/}
.main-current .cont-ul {list-style: none; display: flex; text-align: center; font-size: 20px; font-weight: 600; color:#393536; padding:0; margin:13px auto;}
.main-current .cont-ul li {padding:15px 70px;}
.main-current .cont-ul li:active,.main-current .cont-ul li:hover{border:1px solid #ddd ;box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.1);}
.main-current .cont-ul li img {width: 128px; height: 128px;}
.main-current .cont-ul li p {text-decoration: none; color:#393536; margin:0;}

.current-cont {padding-top:12px;}
.current-inner {display: flex; margin-bottom: 12px;}
.current-inner .tit-txt {border-right:1px solid #ddd; padding: 10px 44px; margin:10px 0; min-width: 134px;}
.current-inner .tit-txt::before{ content:''; position: absolute; width: 46px; height: 2px; background-color: #66c430}
.current-inner p {font-size:26px; font-weight: 600;}
.current-inner ul {list-style: none; font-size:20px; font-weight: 400;}
.current-inner li {padding-left: 12px; font-size:18px;}
.current-inner .item {width: 100%;}
.current-inner .item ul {display: flex; flex-direction: column;}
.current-inner .item li {width:100%;}
.current-inner .item li p{ float:left; font-size:18px; font-weight: normal; margin:6px 0;}
.current-inner .item li p:nth-child(2){float:right;}

.main-rental {background-color: rgba(57,53,54,0.1); margin-bottom: 200px;}

/*======Rental======*/
.rental .current-inner .tit-txt::before {background-color: #2f67b6}
.rental .current-inner {width: 1100px; margin:0 auto;}
.rental .current-inner p {border-color:#2f67b6;}
.rental .current-body{width: 100%;}
.rental .current-body .item ul {display: flex; flex-direction: row;}
.rental .item {overflow-y: auto; overflow-x:hidden;}

.rental-wrap {min-height: 900px; max-height: 1100px; padding-top:141px; user-select: none;}
.rental-tit {height: 65px; margin-bottom:32px; background-color: rgba(57,53,54,0.3);}
.rental-tit p {font-size:30px; font-weight: 500; text-align: center; line-height: 67px; margin:0 ; color:#393536; border-bottom:1px solid rgba(57,53,54,0.3);}
.rental-width {display: flex; width: 1600px; margin:0 auto;}
.rental-width .add-btn p:hover {color:#ee1e49;}
.rental-width .add-btn p:active {color:#fff;}
.rental-width .rental-ul li:hover {background-color: rgba(57,53,54,0.3);}
.rental-width .rental-ul li p:active {color:white;}

.popup-wrap { z-index:10000; background-color: rgba(57,53,54,0.3); width: 100%; height: inherit; position: absolute;}
.popup {background-color: white; width: 900px; min-height: 710px; max-height: 770px; margin:5em auto; padding: 20px; border-radius: 12px; box-shadow: 8px 8px 12px rgba(0,0,0,0.3);}
.popup-header {display: flex; justify-content: space-between; font-size:28px; font-weight: bold;}
.popup-header p {margin: 0;}
.popup-close-btn {width: 32px; height: 32px; float:right;  }
.popup-body {display: flex; flex-direction: column;}
.popup-body .sect-01 {display: flex; flex-direction: row; border:1px solid rgba(57,53,54,0.3); border-radius: 6px; margin: 30px 0; padding: 18px 12px;}
.popup-body .sect-01-sel {flex: 1 1 0; display: flex;}
.popup-body .sect-02 {margin-top: 3em;}
.popup-body .return {margin-top:0;}
.popup-body .sect-02-item {display: flex; flex-direction: row; padding: 0 2.6em; font-size:1.4em; align-items: center;}
.popup-body .sect-02-item p {flex:2 1 0; font-weight: 600; }
.popup-body .sect-02-item input {flex: 10 1 0; border: none; border-bottom: 1px solid rgba(57,53,54,0.7); font-size:0.8em; height: 2em;}
.popup-body .sect-02-list {display: flex; flex-direction: column; height: 500px; overflow-y: auto; border:1px solid #eeeeee;}
.popup-body .sect-02-list ul {list-style: none; display: flex; justify-content: space-around; padding: 0;}
.popup-body .sect-02-list .tit-ul {font-size:1.3em; font-weight: 600;}
.popup-body .sect-02-list li {flex: 1 1 0; text-align: center;}
.popup-body .sect-02-item .tit-ul li:nth-child(1) p{line-height: 0;}
.popup-tail {margin-top: 3em; margin-bottom:1.4em;}
.popup-tail p {text-align: center; font-size:1.7em; font-weight: 500; width: 120px; height: 30px; margin:0 auto; line-height: 27px; padding:12px 2px; background-color: #666666; color:#fff; border-radius: 25px;}
.popup-tail p:hover {cursor: pointer}


/*====== 공통 css 부분 =======*/
/*-SideBar-*/
.sidebar .inner {border-top:1px solid; border-bottom:1px solid; border-color:#ddd; width: 180px; margin:0 13px;}
.sidebar ul {list-style: none; padding:0;}
.sidebar li p {color:#393536; text-align: center; font-size:20px; line-height: 40px; height: 40px; font-weight: 600; cursor:Pointer; margin:0; padding:12px;}
.sidebar-ul-chk li label{display: flex; align-items: center;}
.sidebar-ul-chk li p{padding:3px;}
.sidebar .add-btn {margin-top:8px; margin-bottom:30px;}
.sidebar .add-btn p{ text-align: center; color:#393536;}
.sidebar .add-box {height: 40px; text-align: center; line-height: 40px; font-weight: 600; width: 170px; font-size: 20px;}

/*-----content------*/
.container {width: 100%; padding:0 20px;}
.container-tit {display: flex; align-items: flex-end; border-bottom:1px solid #ddd; padding-bottom:6px;}
.container-tit p {margin:0;}
.container-tit .tit-txt {font-size: 28px; font-weight: bold; margin: 0 6px;}
.container-tit .cont-cnt {flex:1 1 0; display: flex; padding-left: 8px;}
.container-tit .cont-cnt p {padding:0 3px;}
.container-tit .add-btn {display: flex;}
.container-tit .add-btn p {padding:3px; margin:0 2px;}

.container-cont {display: flex; flex-direction: column; max-height: 900px; padding:0; margin-bottom:30px;}
.container-cont .cont-head {border-bottom:1px solid #ddd;}
.container-cont .cont-head li:nth-child(1) {line-height: 1px;}
.container-cont .head-ul {margin:6px 0;}
.container-cont ul {list-style: none; display: flex; flex-direction: row; padding:0;}
.container-cont li {flex:1 1 0; font-size:18px; text-align: center; font-weight: 600;}
.container-cont .body-ul li {font-weight: normal;}


/*- 각 페이지 메인 부분 -*/
.page-wrap {min-height: 900px; max-height: 1100px; padding-top:141px; user-select: none; width: 100%; margin-bottom:40px}
.page-tit {height: 65px; margin-bottom:32px; }
.page-tit p {font-size:30px; font-weight: 500; text-align: center; line-height: 67px; margin:0; color:#393536;}
.page-width {display: flex; width: 1600px; margin:0 auto; padding-bottom: 40px;}
.page-width .add-btn p:active {color:#fff;}
.page-width .sidebar-ul li p:active {color:white;}


/*====== Office =======*/
.office .page-tit {background-color: rgba(102,196,48,0.3);}
.office .page-tit p {border-bottom:1px solid rgba(102,196,48,0.3);}
.office .page-width .sidebar-ul li:hover {background-color: rgba(102,196,48,0.3);}
.office .page-width .add-btn p:hover {color:#66c430;}


/*====== Server ======*/
.server .page-wrap {margin-bottom: 50px}
.server .page-tit { background-color: rgba(47,103,182,0.3);}
.server .page-tit p {border-bottom:1px solid rgba(47,103,182,0.3);}
.server .page-width .sidebar-ul li:hover {background-color: rgba(47,103,182,0.3);}
.server .page-width .add-btn p:hover {color:#2f67b6;}


/*======LabMain.js======*/
.lab .page-tit {background-color: rgba(238,30,73,0.3);}
.lab .page-tit p {border-bottom:1px solid rgba(238,30,73,0.3);}
.lab .page-width .sidebar-ul li:hover {background-color: rgba(238,30,73,0.3);}
.lab .page-width .add-btn p:hover {color:#ee1e49; }

/*====== sample ======*/
/*-----------------------------------main--------------------------------------*/
.sample .page-wrap {margin-bottom:500px;}
.sample .page-tit { background-color: rgba(238,30,73,0.1); width: 100%;}
.sample .page-tit p {border-bottom:1px solid rgba(238,30,73,0.1);}
.sample .page-width {margin:60px auto;}
.sample .page-width .sidebar-ul li:hover {background-color: rgba(238,30,73,0.1);}
.sample .page-width .sidebar-ul li:hover > .hide-ul li{display: block;}
.sample .page-width .add-btn p:hover {color:#ee1e49; }

/*------------------------------------content-------------------------------------*/
.sample .hide-ul {padding-bottom: 12px;}
.sample .hide-ul li {display:none; text-align: center; padding:12px 0;}

.sample .container {width: 90%;}
.sample .container-cont {width: 100%; overflow-y: unset}
.sample .container-cont li {flex:1 1 150px; padding:0 6px;}
.sample .container-cont .consent-section {width: 4400px;}
.sample .container-cont .cont-head li:nth-child(1) {line-height: normal;}
.sample .container-cont section {width: 14500px;}
.sample .container-tit .tit-txt {display: flex; align-items: flex-end;}

.sample .hidden-tab {display: flex; align-items: flex-end;}
.sample .hidden-tab .tabs {display: flex;}
.sample .hidden-tab .tabs p {font-size: 1.3rem; margin-left: 15px; color: #bbbbbb; line-height: 31px;}
.sample .hidden-tab .tabs p:active {color:rgba(238,30,73,0.1); font-size: 1.5rem; font-weight: bold;}
.sample .hidden-tab .tabs .active {color:#000; font-size: 1.5rem;}
.sample .hidden-tab .cont-cnt {font-weight: normal; font-size: 17px; line-height: 30px}
.sample .hidden-tab .add-btn {font-size: 18px; font-weight: normal; padding:0 12px}

.sample .search {display: flex; align-items: center; margin: 22px 5px 3px 11px;}
.sample .search .number {margin:0 12px}
.sample .search .search-icon {width: 30px; height: 30px; padding: 4px 7px;}
.sample .search .refresh-icon {width: 50px; height: 50px; margin:auto 6px;}
.sample .search .refresh-icon:active {background-color: #b1b1b1; border-radius: 3px;}
.sample .search .export-icon {width: 45px; height: 40px;}
.sample .search .export-icon:active {background-color: #b1b1b1; border-radius: 3px;}
.sample .search button {font-weight: bold; background:none; border:none;}
.sample .search .search-sel { height: 30px; margin-left: 12px; border:0; font-size: 16px}
.sample .search .input-wrap {background-color: #ffa5b7; display: flex; align-items: center}
.sample .search .input-sect {display:flex; background-color: white; margin-left:8px}
.sample .search .input-sect input {width: 270px; height: 30px; border:0; }
.sample .search .input-sect img {width: 18px; height: 18px; margin: auto 8px;}

.sample .tab-table {overflow-x: auto}

.sample .pagination .active p{border-bottom: 1px solid #ee1e49; width:35px; margin:18px auto;}
.sample .pagination li:hover {color:#ee1e49}

.sample .none {display: none;}

.cont-body .active li{overflow: visible; text-overflow: unset; white-space:normal;}


.consent-section li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.consent-section .head-ul .active {background-color: #666666; color:#ffffff; display: flex; justify-content: center; align-items: center}
.consent-section .head-ul .active img {width: 30px; height: 30px;}
.consent-section .cont-body .active {background-color: rgba(102,196,48,0.2);}
.consent-section .insert-ul li {padding:0;}
.consent-section .insert-btn {margin:0;}
.consent-section .insert-btn li {margin-bottom:12px; padding: 12px 0;}
.consent-section .insert-btn li:hover {background-color: rgba(102,196,48,0.1)}

.medical-section li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.medical-section .head-ul li {white-space: normal}
.medical-section .cont-body .active {background-color: rgba(238, 30, 73, 0.2)}
.medical-section .insert-btn li {margin-bottom:12px; padding: 12px 0;}
.medical-section .insert-btn li:hover {background-color: rgba(238,30,73,0.1)}
/*.medical-section .cont-body .active li{overflow: visible; text-overflow: unset; white-space:normal;}*/


/*======Footer.js======*/
.footer-wrap {background-color: #424242; padding-top:25px; padding-bottom:200px;}
.footer-width {width: 1100px; margin:0 auto; color:white}

/*===== 반응형 =====*/

@media all and (max-width: 1124px) {
    .main-rental .footer-wrap { width: 100%; min-width: 69.9rem;}
}